body {
   color: black;
   font-family: "Outfit", sans-serif;
   font-size: 1.8rem;
   line-height: 1.6;
}

h1 {
   margin: 0;
   text-align: center;
   text-transform: uppercase;
}

.component__title {
   position: relative;
   letter-spacing: 1px;
   color: rgba(55, 248, 184, 0.945);
   margin-bottom: 2rem;
   font-size: 6rem;
   z-index: 99;
   text-shadow: 2px 2px 3px rgb(7, 7, 7);
}

.component__title::after {
   content: "";
   position: absolute;
   width: 80%;
   background-color: #f15926;
   height: 30px;
   right: 80px;
   z-index: -9;
   top: 55%;
}

a {
   text-decoration: none;
}
